.requisites-link__download {
    width: 298px;
    height: 48px;

    a {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15px;
        color: white;
        padding: 0 17.75px;
        border-radius: $border-radius;
        background-color: $color-global;

        svg {
            width: 16.5px;
            height: 17.42px;
            fill: white;
        }
    }
}